# shellcheck shell=bash
if ! has nix_direnv_version || ! nix_direnv_version 3.2.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.2.0/direnvrc" "sha256-hW6NC1JHue3IjZN3uDM6l6I2PMaauqd2D7hXYJ1Zfr4="
fi
use flake '.?submodules=1'

# automatically generate compile_commands, so that clangd // clang-tools // llvm can use it and stops erroring about things not being found
# NOTE: this will still leave the error "definitions.hpp not found". These are defined in the problem directory you are currently working on. In order to remove this error you need to run cmake with EXPORT_COMPILE_COMMANDS=ON and then make sure clangd is reading that one (as well as or instead of, idk)
# Okay so i think the solution is, always cmake such that cmake places build files (including the compile_commands.json) at the TOP LEVEL i.e. in {repo-path}/build. Then I think clangd will automatically read that.
if [ ! -f build/compile_commands.json ]; then
  cmake -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
fi

# i am unsure of whether this symlinking is required, or whether clangd will find build/compile_commands.json automatically
# if [ ! -f compile_commands.json ] && [ -f build/compile_commands.json ]; then
#   ln -s build/compile_commands.json compile_commands.json
# fi
